<!-- this template displays the post name for each, url address, and button-->
<template name="postItem">
  <div class="post">
<!-- upvote button -->
    <img id='upvote' class="upvote btn btn-default {{upvotedClass}}" src="http://gph.to/1KUm0QW">
    <div class="post-content">
      <h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
      <h5>{{description}}</h5>
      <!--conditional, if its the owner's post, allow edit  -->
      <p>
        {{votes}} Kudos,
        submitted by {{author}},
        <!-- link to display comments -->
        <a href="{{pathFor 'postPage'}}">{{commentsCount}} comments</a>
        {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    <!--  button added for single post page -->
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Discuss</a>
  </div>
</template>
