<!-- header template with login buttons and navigation bar -->
<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" href="{{pathFor 'home'}}">ShowWeet</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <!-- post submit button -->
      <ul class="nav navbar-nav">
        <!-- replaced requireLogin access_denied with current_user -->
        <!-- <li><a href="{{pathFor 'postSubmit'}}">Submit Post</a></li> -->
        <!-- links to New and Most Voted -->
        <li>
          <a href="{{pathFor 'newPosts'}}">New</a>
        </li>
        <li>
          <a href="{{pathFor 'bestPosts'}}">Most Voted</a>
        </li>
        {{#if currentUser}}
        <li>
          <a href="{{pathFor 'postSubmit'}}">Submit Post</a>
        </li>
        <!-- notifications display tab -->
        <li class="dropdown">
            {{> notifications}}
          </li>
        {{/if}}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
  </nav>
</template>
